.destaque-full-height {
    position: relative;
    display: block;
    width: 100%;
    min-height: 40em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #cddad4;
    background-image: -webkit-linear-gradient(270deg, rgba(215, 250, 228, .1), rgba(215, 250, 228, .1)), url('../Content/Imagens/img-home-hero-background.png');
    background-image: linear-gradient(180deg, rgba(215, 250, 228, .1), rgba(215, 250, 228, .1)), url('../Content/Imagens/img-home-hero-background.png');
    background-position: 0px 0px, 50% 100%;
    background-size: auto, 100%;
    background-repeat: repeat, no-repeat;
}

    .destaque-full-height.centralizar-elementos {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

.body {
    background-color: #c72c2c;
}

.div-block {
    position: relative;
    top: 5em;
    width: 30em;
    height: 25em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, .4);
}

.home-colunas-destaque {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.coluna-destaque {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.image {
    position: relative;
    height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.image-2 {
    position: absolute;
    left: -140px;
    right: 0px;
    bottom: 0px;
    width: 50em;
    max-width: none;
}

.div-block-2 {
    position: relative;
    overflow: hidden;
    width: 30em;
    height: 30em;
    max-height: 30em;
    max-width: 30em;
    border-radius: 30em;
}

.logo-homegrown {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Fredoka One', sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
}

    .logo-homegrown.logo-centro-topo {
        position: relative;
        left: 0px;
        top: 0em;
        right: 0px;
        bottom: 1em;
        display: block;
        margin: 1em auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        text-align: center;
    }

.header {
    display: block;
    padding: 2em 3em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
}

.home-headline {
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-left: 0em;
    font-family: Montserrat, sans-serif;
    color: #333;
    font-size: 4.8em;
    line-height: 0.9em;
    text-align: center;
}

.home-destaque-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    padding-right: 3em;
    padding-left: 2.8em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-login-wrapper {
    width: 70%;
    margin-bottom: 0px;
}

.form-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.campo-texto {
    height: 4em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0em 2em;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
}

    .campo-texto:focus {
        border: 1px solid #24c75f;
        box-shadow: 0 0 17px 2px rgba(30, 168, 80, .1);
    }

.bt-principal {
    display: block;
    width: 100%;
    height: 4.68em;
    padding: 0px 2em;
    border-radius: 5px;
    background-color: #3d6ce6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
}

.menu-principal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
}

.link-item-menu-principal {
    padding: 1em 2em;
    border: 2px solid #3d6ce6;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #3d6ce6;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.link-block {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box-formulario {
    position: relative;
    width: 30em;
    padding: 0em 4em 4em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 16px 4px hsla(0, 0%, 60%, .3);
    font-size: 1em;
}

.text-box-formulario {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.link {
    color: #3d6ce6;
    text-decoration: none;
    cursor: pointer;
}

.box-mensagem {
    position: fixed;
    right: 2em;
    bottom: 2em;
    max-width: 35em;
    padding: 3em;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, .95);
    box-shadow: 0 0 16px 4px hsla(0, 0%, 60%, .3);
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
}

.bt-fechar-box-mensagem {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

html.w-mod-js *[data-ix="box-mensagem"] {
    opacity: 0;
    -webkit-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
}
